.aboutpg{
    background-color: #0c0032;
    width: 100%;
    height: auto;
}

.heading4{
        color: #FF3131;
        width: auto;
        margin-right: 0em;
        font-size: 3.5em;
        background-color: rgba(0, 0, 0, 0.83);
        font-weight: 800;
    
}

.txtcontainer{
    margin: 0em;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', san-serif;
    background-color: rgba(0, 0, 0, 0.83);
}

.txt4{
    color: whitesmoke;
    text-align: left;
    font-size: 1.8em;
    font-family: 'Roboto', san-serif;
    margin: .25em;
    line-height: 1.8em;
width: 72%;
display: inline-block;
}

.stlguide{
    color: #FF3131;
        width: auto;
        margin-right: 0em;
        font-size: 3.5em;
        background-color: rgba(0, 0, 0, 0.83);
        font-weight: 500;
}