
.Home{
    font-family: 'Roboto', san-serif;
    width: 100%;
    height: 95vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.headercont{
    margin: 1em;
}

.heading{
    color: #b30f51;
    width: auto;
    margin-right: 0em;
    font-size: 3.5em;
    background-color: rgba(0, 0, 0, 0.83);
    font-weight: 800;
}

.heading2{
    color: #b30f51;
    width: auto;
    margin-right: 0em;
    font-size: 2em;
    background-color: rgba(0, 0, 0, 0.83);
    font-weight: 500;
}

.txt{
        color: whitesmoke;
        text-align: left;
        font-size: 1em;
        font-family: 'Roboto', san-serif;
        margin: .75em;
        line-height: 1.8em;
    width: 50%;
    
    background-color: rgba(0, 0, 0, 0.83);
}

.txtcont{
    margin: 1em;
}

.containerwrap{
    margin: 1.5em;

    }
    
    .plat-wrap{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        }
        
        .itemwrap{
            position: relative;
            margin: 0.5em;
        }
        
        .LP-background{
        height: 350px;
        width:100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        }
        
        .imgtxtwrapper{
            position: absolute;
            top: 0;
            display: flex;
            flex-direction: column;
            height: 100%;
            text-align: center;
            justify-content: center;
            align-items: center;
            margin: 0.5rem;
        }
        
        .logowrap img{
            width: 50%;
            margin: auto;
            display: inline-block;
        position: relative;
        }
        
        .imgtxtwrapper .subtitle a{
        transition: 1s;
        font-weight: 600;
        color: transparent;
        overflow: hidden;
        }
        
        .imgtxtwrapper:hover .subtitle a{
            font-weight: 800;
            color: #b30f51;
            text-decoration: none;
            font-size: 3em;
        }

        .LP-background:hover{
            transition: 1s;
            filter: brightness(10%);
        }